/*此网页偏于剧情简介，文字居多。更多是注重文字样式的选择以及字体间距的安排。思路主要是构建简介的文字以及样式的选择，然后背景颜色也是首页的
主体颜色，使得整体风格一致。*/
#all{
    width:100%;
    height:1000px;
    background-color: cadetblue;
}
header{
    height:50px;
    border-bottom:solid 2px grey;
	background-color: cadetblue;
}
#main{
    height:630px;
    width:1100px;
}
#main p{
    text-indent: 2em;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
    letter-spacing: 1px;
}
#main2{
      width:100%;
      height:230px;
      margin-top: 0px;
}
#main2 p{
    text-indent: 2em;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
    letter-spacing: 1px;
}
aside{
    position:absolute;
    left:1110px;
    top:120px;
    width:400px;
    height:500px;
}
aside img{
    width:400px;
    height:610px;
}